.App {
  text-align: center;
}

/* --- */

.container {
  width: 100%;
  max-width: 600px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1201px) {
  .container {
    max-width: 600px;
  }
}

/* ---- */

.chat__toggle {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d8d8;;
}

.chat__toggle__text {
  text-align: center;
  color: #34aaf2;
}

/* ---- */

.chat {
  margin: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

/* ---- */

.chat__header {
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.chat__header__text {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.chat__closeButton {
  border: none;
  outline: none;
  cursor: pointer;
  color: #00b956;
  font-weight: bold;
  background-color: transparent;
}

/* ---- */

.chat__messages {
  padding: 20px;
  background-color: #d8d8d8;
  height: 300px;
  overflow-y: scroll;
}

.chat__messages__message {
  margin-bottom: 10px;
  text-align: right;
}

.chat__messages__operatorMessage {
  margin-bottom: 10px;
  text-align: left;
  color: #00b956;
}

.message__text {
  display: inline-block;
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 1em;
  min-height: 18px;
}

/* --- */

.chat__footer {
  padding: 0;
}

.chat__currentMessage {
  display: flex;
}

.chat__currentMessage textarea {
  width: 100%;
  border: 1px solid #d8d8d8;
  padding: 10px;
}

/* ---- */

.loginForm {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.loginForm__heading {
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 8px;
  text-align: left;
}

.loginForm__form-group {
  margin-bottom: 10px;
  margin-right: 10px;
}

.loginForm input {
  flex-basis: 180px;
  flex-grow: 1;
  font-size: 14px;
  padding: 14px;
  border: 1px solid #d8d8d8;
}

@media (max-width: 600px) {

  .loginForm {
    flex-direction: column;
    align-items: stretch;
  }

  .loginForm__form-group {
    display: flex;
  }

  .loginForm input {
  }

  .loginForm_btn {
    align-self: flex-start;
  }
}

.loginForm_btn {
  font-size: 15px;
  padding: 0 30px;
  height: 48px;
  border-radius: 30px;

  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background-color: #00b956;
}

.loginForm_btn:hover,
.loginForm_btn:focus,
.loginForm_btn:active {
  background-color: #00ee6f;
}

.loginForm_btn.disabled {
  background-color: #d8d8d8;
}

